<!DOCTYPE html>
<html lang="en">

<head>
    <% include navi/head %>
</head>

<body class="container">
    <% include navi/header %>

    <div class="container-fluid">
        <main Class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="button" class="btn btn-outline-warning" href="">LOGIN</button>
        </main>
    </div>
</body>

</html>